<script n:syntax="off">
	var google_tag_params = {
		'ecomm_prodid':     ['123A', 'H456'],    // Product ID in array
		'ecomm_pagetype':   'home',              // Type page
		'ecomm_totalvalue': '118.99',            // Total value, no currency, two decimal places
		'ecomm_category':   ['Garden', 'Home']   // Category title (when is no empty)
	};
</script>
