<script n:syntax="off">
	var google_tag_params = {
		'ecomm_prodid':     '',                  // Is empty
		'ecomm_pagetype':   'other',
		'ecomm_totalvalue': '',                  // Is empty
		'ecomm_category':   ''                   // Is empty
	};
</script>
